{% extends "base.html" %}

{% block content %}

<h2>Edit Expense</h2>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title"
               value="{{ expense.title }}"
               class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Amount</label>
        <input type="number" step="0.01" name="amount"
               value="{{ expense.amount }}"
               class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <input type="text" name="category"
               value="{{ expense.category }}"
               class="form-control">
    </div>

    <button class="btn btn-primary">
        Update Expense
    </button>

</form>

{% endblock %}